//
// general.scss
//

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 60px;
  overflow-x: hidden;
}

.size-col-100 {
  max-width: 100px !important;
}
.size-col-50 {
  max-width: 50px !important;
}
.size-col-40 {
  max-width: 40px !important;
}
.size-col-30 {
  max-width: 30px !important;
}
.size-col-20 {
  max-width: 20px !important;
}
.size-col-10 {
  text-align: center !important;
  vertical-align: middle !important;
  max-width: 10px !important;
}
.ck.ck-editor__editable_inline {
  outline: 1px solid #b3b3b3;
}